<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h2> To-Do App </h2>
    <form action ="/createTask" method="POST" enctype="multipart/form-data">
        <input type="text" name="newtask" placeholder="Neue Aufgabe">
        <input type="file" name="file" accept="image/*"/>
        <button> Aufgabe hinzufügen </button>
    </form>
</div>
</body>
</html>