<html>
<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h2> To-Do App </h2>

<form action ="/addtask" method="POST">

<input type="text" name="newtask" placeholder="neue Aufgabe">
<button> Aufgabe hinzufügen </button>


<h2> Hinzugefügte Aufgaben </h2>
<ol>
    <% for( var i = 0; i < task.length; i++){ %>
        <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
    <% } %>
</ol>
<button formaction="/completetask" type="submit" id="top"> Als fertig markieren </button>
</form>

<h2> Fertige Aufgabe </h2>
<ol>
    <% for(var i = 0; i < complete.length; i++){ %>
        <li><input type="checkbox" checked><%= complete[i] %> </li>
    <% } %>
</ol>
</div>
<div>
    <form action="/pic" method = "post">
      <button>Picture</button>
    </form>
</div>
</body>
</html>