<html>
<head>
<title> ToDo App - Login </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="center">
        <form action="/login" method="post">
            <label for="loginName" class="child">Username:</label><br>
            <input type="text" class="child" id="loginName" name="loginName"><br>
            <input type="submit" class="child" value="Einloggen">
        </form>
    </div>
</body>
</html>