* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    background: rgb(245, 245, 245);
    color: #333333;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    width: 50%;
    border: 2px solid green;
    padding: 10px;
    text-align: center;
}

.child {
    margin: 20px 0;
}

img {
    width: auto;
    height: 150px;
    alignment: center;
}

ol {
    text-align: center;
    list-style-position: inside;
}
ol li{
    list-style-type: none;
    color:blue;
}